<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Anagrams Generator</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/style.css">

</head>
  <body>
    <div class="container">
      <h1 class="site-title"><a href="/">Anagrams</a></h1>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/words/new">Add New Word</a></li>
          <li><a href="/words">Directory</a></li>
        </ul>
      </nav>
    	<%= yield %>
    </div>
  </body>
</html>